@{
    var user = Context.Items["User"] as User;
    var userTicket = Context.Items["UserTicket"] as List<Ticket>;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Silver Screen Cinema</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <link href="/css/app.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          darkMode: 'class',
        }
    </script>
    @await RenderSectionAsync("Styles", false)
</head>
<body class="light">
    @await Html.PartialAsync("_Navbar", user)

    <main role="main" class="min-h-screen">
        @RenderBody()
    </main>

    @await Html.PartialAsync("_Footer")
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js" defer></script>
    @await RenderSectionAsync("Scripts", false)
</body>
</html>
