@using System.Text.Json
@model MovieShowtimeAddToCartRequest
@{
    ViewData["Title"] = "Confirm Order";
    MovieShowtime movieShowtime = ViewBag.MovieShowtime;
    var seats = JsonSerializer.Deserialize<List<string>>(Model.SelectedSeat)!;
}

<div class="fixed container mx-auto top-0 left-0 right-0 mt-20 -z-20">
    <div class="mt-20 mx-auto w-full">
        <div class="grid grid-cols-2 opacity-50">
            <div class="ml-[25%] h-60 w-[400px] bg-gradient-to-r from-purple-600 via-indigo-500 to-purple-400 blur-3xl"></div>
            <div class="mt-[250px] h-60 w-[400px] rounded-full bg-gradient-to-r from-purple-200 to-purple-600 blur-3xl"></div>
        </div>
    </div>
</div>

<div class="container mx-auto my-20 px-4">
    Success    
</div>
