@model UserLoginRequest
@{
    ViewBag.Title = "Login Portal";
}

<div class="background min-h-screen">
    <div class="container mx-auto px-4 py-40">
        <h5 class="mb-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white">
            Login Portal
        </h5>
        <p class="mb-3 font-semibold text-gray-700 dark:text-gray-400">
            Please sign-in in order to access to our services.
        </p>

        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessages))
        {
            <div class='bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4' role='alert'>
                <strong class='font-bold'>Error!</strong>
                <br />
                <span class='block sm:inline'>Please fix the following errors: @ViewBag.ErrorMessages</span>
            </div>
        }

        <form asp-controller="Account" asp-action="Login" method="post" class="space-y-5">
            <div>
                <label asp-for="Username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input asp-for="Username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <span asp-validation-for="Username" class="text-red-500 font-semibold"></span>
            </div>

            <div>
                <label asp-for="Password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input asp-for="Password" type="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <span asp-validation-for="Password" class="text-red-500 font-semibold"></span>
            </div>

            <div class="mt-5 flex flex-row justify-between">
                <div></div>
                <div>
                    <button type="submit" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Login
                        <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>